.nav-top {
	height:50px;
	background-color: #2D3231;
	display: flex;
	align-items: center;
	z-index: 1;
}
.nav-top__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-top__item a {
	color: #fff;
}
.nav-top__item-contact {
    display: flex;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.nav-top__item-list {
    display: inline-block;
	margin-right: 12px;
}
.nav-top__item-icon {
    font-size: 14px;
	color: #fff;
}
.nav-top__item-link {
    text-decoration: none;
	font-size: 14px;
	font-family: montserrat-sb;
	color: #fff;
}
.nav-top__item-social {
    display: flex;
	padding: 0;
	list-style: none;
	margin-bottom: 0;

}
.nav-top__item-social-list {
    display: inline-block;
}
.nav-top__item-social-icon {
   margin-left: 12px;
}
.home {
	background-color: #D9D9D9;
}
.navbar-scroll {
	position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;  
}
.navbar .btn {
   width: 190px;
   height: 60px;
   font-size: 18px;
   font-family: montserrat-b;
   color: #fff;
   background-color: #2D3231;
   border-radius: 25px;
   outline: none;
}
.navbar-icon-search  {
	font-size: 16px;
	color: #000;
	margin: 0 12px;
	cursor: pointer;
}
.navbar-serch  {
	display: flex;
	align-items: center;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar  a:hover{
	color: #14B1BB;
}
.navbar .nav-link {
	font-family: montserrat-sb;
	font-size: 16px;
	color: #2B2929;
}
.navbar .navbar-icon {
	font-size: 12px;
	color: #606a63;
}
.navbar-toggler:focus {
	box-shadow: none;
}
.dropdown-item {
	font-size: 14px;
	font-family: montserrat-r;
	font-weight: 400;
	color: #2D3231;
}
.dropdown-item:hover {
	color: #14B1BB;
	background-color:#fff;
}
/* .slider-banner     sdcfsfvsfv */
.slider-banner {
	margin-top: 126px;
}
.carousel-control-prev {
	z-index: 0;
}
.carousel-caption h1 {
    font-family: montserrat-b;
	font-size: 55px;
	color: #ED6519;
}
.carousel-caption p {
	font-family: montserrat-sb;
	font-size: 22px;
	color: #ED6519;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 25%;
    left: 15%; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
	text-align: left;
}
.carousel-item button {
	width: 150px;
	height: 56px;
	font-family: montserrat-md;
	font-size: 16px;
	color: #fff;
	background-color: #2D3231;
	border: none;
	outline: none;
	border-radius: 30px;
	margin-right: 16px;
	margin-top: 10px;
	transition: all 0.5s ease 0s;
}
.carousel-item button:hover {
    background-color: #14B1BB;
}
.carousel-indicators {
	display: none;
}
/* .slider-bannercbcv bv  */
.section-social__icon i {
    font-size:60px ;
	color:#14B1BB;
	padding-top: 50px;
}
.section-social__icon {
	text-align: center;
	border: 1px solid #14B1BB;
	border-radius: 5px;
	margin-bottom: 24px;
	box-shadow: 0px 0px 54px 0px rgb(9 46 195 / 6%);
}
.section-social__icon h4 {
    font-size: 16px;
	color: #000;
	font-family: montserrat-sb;
	margin-top: 15px;
	padding-bottom: 50px;
	margin-bottom: 0;
	line-height: 20px;
}
.section-social__about h5 {
   font-size: 16px;
   font-family: montserrat-sb;
   color: #14B1BB;
   margin-bottom:12px;
}
.section-social__about h1 {
	font-size: 32px;
	font-family: montserrat-sb;
	color:#2D3231;
	margin-bottom: 22px;
}
.section-social__about p {
	font-size: 16px;
	font-family:montserrat-sb;
	color:#606363 ;
	line-height: 26px;
}
.section-social__about .dec-about {
    font-size: 16px;
	font-family: montserrat-sb;
	color:#606363;
	line-height: 26px;
}
.check-item {
	display: flex;
	margin-top: 22px;
}
.check-item h6 {
	font-size: 16px;
	font-family: montserrat-sb;
	color: #606363;
	margin-bottom: 0;
	margin-left: 12px;
}
.check-icon {
	color: #14B1BB;
	margin-left: 12px ;
}
.section-social__about-check {
	display: flex;
	justify-content: space-between;
}
.section-social__about .btn-more:hover {
	background-color:#2D3231 ;
}
.section-social__about .btn-more {
	width: 180px;
	height: 60px;
	font-size: 16px;
	font-family: montserrat-sb;
	border: none;
	border-radius: 30px;
	background-color: #14B1BB;
	color: #fff;
	margin-top: 50px;
	transition: all 0.5s ease 0s;
}
.service-company {
	background-image: url(../Image/bg-service.png);
	background-size:cover;
	background-repeat: no-repeat;
	object-fit: cover;
	padding: 80px 0;
}
.content-heading {
	text-align: center;
	margin-bottom: 50px;
}
.content-heading h5 {
	font-size: 16px;
	font-family: montserrat-sb;
	color: #fff;
}
.content-heading h2 {
	font-size: 32px;
	font-family: montserrat-sb;
	color: #fff;
	margin-top: 12px;
	line-height: 40px;
}
.service-company__item:hover {
	background-color: #14B1BB;
    
}
.service-company__item {
	text-align: center;
	border: 1px solid #14B1BB;
	padding: 40px 0;
	transition: all 0.5s ease 0s;

}
.service-company i {
	font-size: 55px;
	color: #fff;
	margin-bottom: 16px;
}
.service-company h4 {
	font-size: 24px;
	font-family: montserrat-md;
	color: #fff;
	margin-bottom: 16px;
}

.service-company p {
	font-size: 16px;
	font-family: montserrat-r;
	color: #fff;
	margin-bottom: 0;
	padding: 0 20px;
}
.membar-company__img {
	position: relative;
	overflow: hidden;
}
.member-company__img-item {
	position: relative;
	overflow: hidden;
}
.membar-company h5 {
	color: #14B1BB;
}
.membar-company h2 {
	color: #2D3231;
}
.membar-company__show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}
.membar-company__show .btn-active {
	background-color:#14B1BB;
	color: #fff;
}
.membar-company__show button:hover {
	color: #fff;
	background-color: #14B1BB;
}
.membar-company__show button {
	width: 140px;
	height: 60px;
	background-color: #fff;
	color: #2B2929;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	cursor: pointer;
	margin: 0 20px;
	transition:  all 0.5s ease 0s;
}
.membar-company__img:hover  .bg-hover {
	opacity: 1;
}
.mebbar-company__img-hover a {
	text-decoration: none;
	color: #fff;
}
.membar-company__img:hover img {
	transform: scale(1.1);
}
.membar-company__img img {
	display: block;
	transition: all 0.5s ease 0s;
}
.membar-company__img  h4 {
	font-size: 20px;
	font-family: montserrat-sb;
	color: #fff;
}
.membar-company__img p {
	font-size: 16px;
	font-family: montserrat-r;
	color: #fff;
	margin-bottom: 0
}
.mebbar-company__img-hover {
	padding:12px 0;
    border: none;
    position: absolute;
    bottom: -80px;
    left: 0%;
    right: 0%; 	
    text-align: center;
	background-color: #14b1bb;
	transition: all 0.5s ease 0s;
	z-index: 1;
	
}
.membar-company__img:hover .mebbar-company__img-hover {
	bottom: 0;
}
.bg-hover {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	transition: all 0.5s ease 0s;
	opacity: 0;
	
}
.bg-hover {
	background-color: #14b1bb80;
}

.oder-project .content-heading h5 {
	color: #14B1BB;
}
.oder-project .content-heading h2 {
	color: #2D3231;
}
.oder-project-item {
	text-align: center;
	padding:30px 0;
}
.oder-project h4 {
	font-size: 24px;
	font-family: montserrat-md;
	color:#2B2929;
	margin-top: 16px;
	margin-bottom: 0;
}
.oder-project  p {
	font-size: 16px;
	font-family: montserrat-r;
	color:#606363;
	margin-top: 16px;
	margin-bottom: 0;
}
.line-progressbar h5 {
   font-size: 16px;
   font-family: montserrat-sb;
   color: #14B1BB;
   margin-bottom: 12px;
}
.line-progressbar h2 {
	font-size: 32px;
    font-family: montserrat-sb;
    color:#2D3231;
	margin-bottom: 24px;
}
.line-progressbar p {
	font-size: 16px;
    font-family: montserrat-sb;
    color:#606363;
	margin-bottom: 30px;
}
.line-progressbar h6 {
	font-size: 18px;
	font-family: montserrat-sb;
	color: #2D3231;
}
.line-progressbar-bg {
	background-image: url(../Image/scroll.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.wed-development {
	margin-top: 30px;
}
.percentCount{
	margin-top: -38px;
}
.service-bg {
    background-image: url(../Image/service1.png);
	padding: 70px 0;
	background-size:cover;
	background-repeat: no-repeat;
}
.btn-development:hover {
	background-color: #14B1BB;
}
.btn-development {
	width: 100%;
	height: 100px;
	border: none;
	border-radius: 3px;
	outline: none;
	font-size: 24px;
	font-family: montserrat-md;
	background-color: rgba(80, 81, 81, 0.6);
	color: #fff;
	transition: all 0.5s ease 0s;

}
.service-bg button.active {
	background-color: #14B1BB;
}
.development-icon {
	font-size: 35px;
	color: #fff;
	margin-right: 12px;
}
.development-active {
	background-color: #14B1BB;
}
.servicer-bg-content h3 {
	font-size: 28px;
	font-family: montserrat-sb;
	color: #fff;
	margin-bottom: 20px;
}
.servicer-bg-content p {
	font-size: 16px;
	font-family: montserrat-sb;
	color: #fff;
	margin-bottom: 20px;
}
.service-bg .check-icon {
	color: #fff;
}
.service-bg h6 {
	color:#fff
}
.service-bg-btn:hover {
	background-color: #14B1BB;
	
}
.service-bg-btn {
	width: 180px;
	height: 60px;
	border: none;
	outline: none;
	border-radius: 30px;
	font-size:16px;
	font-family: montserrat-md;
	color: #fff;
	background-color: #2D3231;
	margin-top: 30px;
	transition: all 0.5s ease 0s;
}

.service-bg-img {
	position: relative;
}
.service-bg-img-icon {
	position: absolute;
	top: 40%;
	left: 42%;
}
.service-bg-img-icon {
	width: 80px;
	height: 80px;
}
.tabcontent {
	display: none;
}
.card-slider h5 {
	color: #14B1BB;
}
.card-slider h2 {
	color: #2D3231;
}
 
.card-slider-body p {
	font-size: 16px;
	font-family: montserrat-sb;
	color: #606363;
	display: flex;
	margin-bottom: 0;
}
.card-slider-body i {
	font-size: 14px;
	color: #14B1BB;
}
.card-slider-body h4 {
    font-size: 20px;
	font-family: montserrat-sb;
	color: #000;
	margin-top: 12px;
}
.card-slider-body h6 {
    font-size: 16px;
	font-family: montserrat-sb;
	color: #606363;
	margin-top: 12px;
}
.btn-readmore {
	width:120px;
	height: 40px;
	font-size: 16px;
	font-family: montserrat-sb;
	border: 1px solid #2B2929;
	border-radius: 5px;
	outline: none;
	color:#14B1BB;
	background-color: #fff;
	margin-top: 12px;
	margin-bottom: 20px;
	transition: all 0.5s ease 0s;
}
.card-slider-body-managemnent {
	display: flex;
	margin-top: 12px;
}
.card-slider-body {
	margin: 0 12px;
}
.card-slider-content {
	/* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); */
	border: 1px solid #D9D9D9 ;
	border-radius: 3px;
}
.card-slider-content img {
	width: 100%;
	height: auto;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.card-slider-content button:hover {
	background-color: #fff ;
}
.footer-bg {
	background-image: url(../Image/footer-bg.png);
	background-size:cover;
	background-repeat: no-repeat;
	padding: 70px 0;
}
.footer-bg-item h6 {
    font-size: 16px;
	font-family: montserrat-md;
	color: #fff;
	margin-top: 20px;
	line-height:25px ;
}
.footer-bg-item .btn-social-link {
	width: 30px;
	height: 30px;
	color: #fff;
	border:1px solid #fff;
	background-color:transparent;
	outline: none;
	border-radius:5px;
	line-height: 30px;
	margin-top: 12px;
	margin-right: 12px;
	transition: all 0.5s ease 0s;
}
.btn-social-link:hover {
	background-color: #14B1BB;
}
.footer-bg-item-address ul {
	padding: 0;
	margin-bottom: 16px;
	list-style: none;
}
.footer-bg-item-address p {
	font-size: 16px;
	font-family: montserrat-md;
	color: #fff;
	margin-bottom: 0;
}
.footer-bg-item-address  i {
    font-size: 16px;
	color: #fff;
	margin-right: 10px;
}
.footer-bg-item-address a {
	font-size: 16px;
	font-family: montserrat-md;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s ease 0s;
}
.footer-bg-item-address a:hover {
	color:#14b1bb
}
    
.footer-bg h3 {
	font-size: 24px;
	font-family:montserrat-sb ;
	color: #fff;
	margin-bottom: 20px;
}
.owl-nav {
	display: none;
}
.owl-theme .owl-dots {
	margin-top: 16px;
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #14B1BB;
}
.owl-carousel {
	z-index: 0;
}
.footer-bg-item-address img {
	margin-bottom: 20px;
}
.footer-bottom {
	width: 100%;
	height: 40px;
	background-color:#14B1BB;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-bottom h6 {
	font-size: 16px;
	font-family: montserrat-r;
	color: #fff;
	margin: 0;
	padding: 0 12px;
}